*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}
.hero {
    background: url('full-hd-blank.jpg') center;
    background-size: cover;
    padding: 4rem 2rem;

    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(200, auto-fill);
    grid-gap: 10px;
    /*grid-template-rows: repeat(2, 300px);*/
    
    /*display: flex;
    flex-wrap: wrap;*/
}
.item {
    min-width: 50px;
    min-height: 100px;
    height: 100%;
    background-color: antiquewhite;
}




